.style-menu-bar{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:100px;
    left:20px;
    width:138px;
    height:220px;
    background: #FEE500;
    border:1px solid #ddd;
    border-radius: 5px;
    z-index: 99;
}

.style-text{
    margin-top:5px;
    padding-left:3px;
    width:100px;
    height:25px;
    line-height: 30px;
    font-size:0.8em;
}
.style-select{
    margin-left:3px;
    width:132px;
    height:20px;
}

.style-input{
    margin-left:3px;
    width:130px;
    height:20px;
}