.item-menu-bar{
    display: flex;
    position: absolute;
    top:10px;
    left:200px;
    width:710px;
    height:50px;
    z-index:99;
}

.item-btn {
    margin-top:5px;
    margin-left:10px;
    width:40px;
    height:40px;
    background: white;
    border:1px solid #ccc;
    border-radius: 4px;
    font-size:1.0em;
    color:#555;
    cursor: pointer;
    transition: background 0.5s;
}

.item-btn:hover{
    background: gray;
    color: white;
}

.item-btn-active{
    background: gray;
    color: white;
    animation: shinny 1.5s infinite;
}

.item-hand-btn{
    padding-right:1px;
}

.item-mouse-btn{
    padding-left:3px;
}

.item-terminal-btn{
    padding-top:3px;
}

.item-ready-btn{
    padding-top:3px;
}

.item-process-btn{
    padding-top:3px;
}

.item-judgment-btn{
    padding-top:3px;
}

.item-line-btn{}

.item-polyline-btn{}

.item-pageconn-btn{}

.item-doc-btn{
    padding-top:3px;
}

.item-disk-btn{
    padding-top:3px;
}

.item-io-btn{
    padding-top:3px;
}

.item-pinput-btn{
    padding-top:2px;
}

@keyframes shinny {
    0% {
        box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    }
    50% {
        box-shadow: 0 0 0 13px rgba(0,0,0,0);
    }
    100% {
        box-shadow: 0 0 0 0px rgba(0,0,0,0);
    }
}