.history-view{
    position: absolute;
    padding:10px;
    left:15px;
    bottom: 70px;
    width: 75px;
    height: 250px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 97;
    scroll-behavior: smooth;
}

.history-view::-webkit-scrollbar {
    display: none;
}

.history-box{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 5px;
    width:73px;
    height:73px;
    border: 1px solid #555;
    border-radius: 5px;
    background: white;
    justify-content: center;
    align-items: center;
}

.history-box.active{
    background: #555;
    color:white;
    animation: gray-shinny 1.5s infinite;
}

.behavior {
    position: absolute;
    top:0px;
    left:0px;
    background: orange;
    color:white;
    padding-left:5px;
    padding-right:5px;
    border-radius: 2px;
    font-size:0.8em;
}

@keyframes gray-shinny {
    0% {
        box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    }
    50% {
        box-shadow: 0 0 0 13px rgba(0,0,0,0);
    }
    100% {
        box-shadow: 0 0 0 0px rgba(0,0,0,0);
    }
}