.history-menu-bar{
    display: flex;
    position:absolute;
    bottom:10px;
    left:15px;
    width:150px;
    height:50px;
}

.history-btn{
    margin-top:5px;
    margin-left:5px;
    width:40px;
    height:40px;
    background: #FEE500;
    border:1px solid #ddd;
    border-radius: 5px;
    cursor:pointer;
    font-size:1.1em;
}