.zoom-menu-bar{
    display: flex;
    position:absolute;
    bottom:10px;
    right:10px;
    width:170px;
    height:50px;
    z-index:99;
}

.ratio-text{
    margin-top:5px;
    width:70px;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.zoom-btn{
    margin-top:5px;
    margin-left:5px;
    width:40px;
    height:40px;
    background: white;
    border:1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
}

.zoom-btn:hover{
    background: #F7E600;
}