* {
    padding: 0px;
    margin: 0px;
    overflow:hidden;
}

html, body{
    width: 100%;
    height: 100%;
}

.logo{
    position: absolute;
    top:15px;
    right:20px;
    width:130px;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size:1.7em;
    font-weight: 600;
    cursor:default;
}

.disable-pointer-event{
    pointer-events: none;
}
