.toast {
    display: flex;
    align-items: center;
    position: absolute;
    padding-left:10px;
    top:15px;
    right:15px;
    width:230px;
    height: 0px;
    background: #555;
    color:white;
    font-size:0.8em;
    z-index: 99;
    border-radius: 5px;
    transition: all 0.5s;
}

.toast-btn{
    position: absolute;
    top:10px;
    right:5px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}