.modal-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0,0,0, 0.1);
    visibility: hidden;
}

.modal {
    margin-top:-50px;
    position:relative;
    width:400px;
    height:150px;
    background: white;
    border:1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s;
}

.modal-title{
    position: relative;
    padding:5px;
    width:390px;
    height:20px;
    line-height: 20px;
    background: #555;
    color:white;
    font-size:0.8em;
}

.modal-body{
    display: flex;
    position:relative;
    width:400px;
    height:70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.1em;
}

.modal-input{
    position: relative;
    padding-left:10px;
    width:300px;
    height:30px;
    line-height: 30px;
}

.modal-btn-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
}

.modal-btn{
    margin: 0 5px;
    width:50px;
    height:25px;
}